.card {
  width: 300px;
  height: 315px;
  border-radius: 3%;
  background-color: var(--color-white-00);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 5px 5px 5px 5px;
}

.text {
  margin: 15px 5px 5px 5px;
  display: inline-block;
  width: 100%;
  font-size: 3px;
}

.cardcontent {
  height: 50%;
  display: inline-block;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 5px 0px 0px 0px;
}

.image {
  max-height: 100%;
  max-width: 100%;
}
